
<% if(typeof errors != 'undefined'){ %>
<div style="color:red">
    <% errors.forEach(function(error) { %>
        <p><%= error.msg %><p/>
        <%= console.log(error) %>
    <% }); %>
</div>
<% } %>



<% if(success_msg != ''){ %>
<<div style="color:red">
    <%= success_msg %>
    <span aria-hidden="true"></span>
</div>
<% } %>

<% if(error_msg != ''){ %>
<div style="color:red">
    <%= error_msg %>
    <span aria-hidden="true"></span>
</div>
<% } %>



<% if(error != ''){ %>
<div style="color:red">
    <%= error[0] %>
    <span aria-hidden="true"></span>
</div>
<% } %>


