<!DOCTYPE html>
<html>

<head>
    <title>StorePix</title>
    <link type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/javascript/categories.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<% include partials/_alerts %>
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="">StorePix</a>

        <ul class="uk-navbar-nav">
        </ul>

        <div class="uk-navbar-item">
            <div class="uk-text-emphasis"><a href="/mypix">My Pix</a></div>
        </div>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Search pictures">
                <button class="uk-button uk-button-default">Search</button>
            </form>
        </div>

        <a class="uk-button uk-button-default" href="#modal-center" uk-toggle uk-icon="plus"></a>
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <div>
                    <h5>Pix Upload</h5>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <!-- Image uploader-->
                        <input id="file" name="file" type="file" name="file"><br/><br/>
                        <!-- Categories-->
                        <label>Categories:</label><br/>
                        <script>
                            function checkboxesCategory() {
                                var category = document.getElementsByName('category');
                                console.log(category);
                                console.log("HEREHEREHERHEH");
                                }
                        </script>
                        <div class="uk-container-xsmall uk-column-1-2" id="categoryCheckboxes">
                            <input type="checkbox" name="category" value="Background" onclick="checkboxesCategory"> Background<br>
                            <input type="checkbox" name="category" value="Blurs" onclick="checkboxesCategory"> Blurs<br>
                            <input type="checkbox" name="category" value="Colors" onclick="checkboxesCategory"> Colors<br>
                            <input type="checkbox" name="category" value="Fun" onclick="checkboxesCategory"> Fun<br>
                            <input type="checkbox" name="category" value="Luxury" onclick="checkboxesCategory"> Luxury<br>
                            <input type="checkbox" name="category" value="Sports" onclick="checkboxesCategory"> Sports<br>
                            <input type="checkbox" name="category" value="Animals" onclick="checkboxesCategory"> Animals<br>
                            <input type="checkbox" name="category" value="Flowers" onclick="checkboxesCategory"> Flowers<br>
                            <input type="checkbox" name="category" value="Clouds" onclick="checkboxesCategory"> Clouds<br>
                            <input type="checkbox" name="category" value="Nature" onclick="checkboxesCategory"> Nature<br>
                            <input type="checkbox" name="category" value="Random" onclick="checkboxesCategory"> Random<br>
                            
                        </div><br/>
                        <!-- Price-->
                        <label>Price:</label><br/>
                        <input type="number" name="price"><br/><br/>
                        <!-- Submit-->
                        <button type="submit" class="btn">Submit Pix</button> <br/><br/>
                    </form>
                    <br>
                </div>
                <button class="uk-modal-close-default" type="button" uk-close ></button>
            </div>
        </div>

    </div>
    <div class="uk-navbar-right">
        <a href="/users/logout"><button class="uk-button uk-button-danger">Sign out</button></a>
    </div>
</nav>

<body>
    <h1>Pix</h1><hr>
     <div class="uk-container uk-column-1-5" id="images_viewer">
        
        <% if(files) {%>
            <% for(var i=0; i<picturesLists.length; i++) {%>
            <div>
                <img src="pictures/<%= files[i].filename %>">
                <p>$<%= picturesLists[i].price %><br/>
                <strong>Description Categories:</strong> <%=picturesLists[i].description %><br/>
                <strong>Posted By:</strong> <%=picturesLists[i].userEmail %></p><br/>
            </div>
            <% } %>
        <% };%>

    </div>

</body>

</html>
