<!DOCTYPE html>
<html>

<head>
    <title>StorePix</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="">StorePix</a>

        <ul class="uk-navbar-nav">
        </ul>

        <div class="uk-navbar-item">
            <a class="uk-button uk-button-default href="/mypix" style="color: #0267a5;">My Pix</a>
        </div>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Search pictures">
                <button class="uk-button uk-button-default">Search</button>
            </form>
        </div>

        <a class="uk-button uk-button-default" href="#modal-center" uk-toggle uk-icon="plus"></a>
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <div>
                    <h5>Pix Upload</h5>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <!-- Image uploader-->
                        <input class="uk-button uk-button-default uk-button-small" id="file" name="file" type="file" name="file"><br/><br/>
                        <!-- Categories-->
                        <label>Categories:</label><br/>
                        <div class="uk-container-xsmall uk-column-1-2" id="categoryCheckboxes">
                            <input class="uk-checkbox" type="checkbox" name="category" value="Background" > Background<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Blurs" > Blurs<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Colors" > Colors<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Fun" > Fun<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Luxury" > Luxury<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Sports" > Sports<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Animals" > Animals<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Flowers" > Flowers<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Clouds" > Clouds<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Nature" > Nature<br>
                            <input class="uk-checkbox" type="checkbox" name="category" value="Random" > Random<br>
                        </div><br/>
                        <!-- Price-->
                        <label>Price:</label><br/>
                        <input class="uk-input uk-form-width-small" type="number" name="price"><br/><br/>
                        <!-- Submit-->
                        <button type="submit" class="uk-button uk-button-primary">Submit Pix</button> <br/><br/>
                    </form>
                    <br>
                </div>
                <button class="uk-modal-close-default" type="button" uk-close ></button>
            </div>
        </div>

    </div>
    <div class="uk-navbar-right">
        <a href="/users/logout"><button class="uk-button uk-button-danger" style="background-color:#8B0807">Sign out</button></a>
    </div>
</nav>

<body>
<center><% include partials/_alerts %></center>
    <h1><center>Pix</center></h1><hr>
     <div class="uk-container uk-column-1-5" id="images_viewer">
        
        <% if(files && picturesLists.length > 0 ) {%>
            <% for(var i = 0; i < picturesLists.length; i++) {%>
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div class="uk-card uk-card-default uk-card-body">
                    <a href="pictures/<%= files[i].filename %>"><img src="pictures/<%= files[i].filename %>"></a>
                    <p>$<%= picturesLists[i].price %><br/>
                    <%=picturesLists[i].description %><br/>
                    <strong>Posted By:</strong> <%=picturesLists[i].userEmail %></p><br/>
                    <% if(picturesLists[i].userEmail == user.email) {%>
                        <form method="POST" action="/pictures/<%= files[i].filename %>?_method=DELETE">
                            <button name="<%= picturesLists[i]._id %>" class="uk-button uk-button-danger" style="background-color:#8B0807">
                                Delete
                            </button>
                        </form>
                    <% }; %>
                </div>
            </div>
            <% } %>
        <% } else {%>
            <h2>No pix ☹️</h2>
        <% }; %>
    </div>

</body>

</html>
